.l-body {
  display: grid;
  @media (max-width: 849px) {
    grid-template-areas: "header" "sidebar"  "body" "footer";
  }

  @media (min-width: 850px) {
    grid-template-areas:
      "header header"
      "sidebar body"
      "footer footer";
  }
}

.dy-header {
  grid-area: header;
}

.dy-body {
  grid-area: main;
}

.dy-footer {
  grid-area: footer;
}
.dy-sidebar {
  grid-area: sidebar;
}
